
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Medicines - Index</title>
</head>
<body>
    <div>
        <h2>This is Medicines View from Medicines Controller</h2>
    </div>
    <h3>
        @Html.ActionLink("Home Page", "Index", "Home", new { Area = "" }, null)
    </h3>
</body>
</html>
