
@{
    //Layout = "~/Views/Shared/_SiteMaster.cshtml";
    ViewBag.Title = "Home";
}
<p style="text-align:justify; color:black; font-family:'Bookman Old Style'; text-indent:50px">
    We have set the pace with online learning. Learn what you want, when you want, where you want, and practice with the instructor-lead training sessions, on demand video tutorialls wich you can watch and listen.
</p>
<ol style="color:blue; background-color">
    <li>
        150+ Online Courses
    </li>
    <li>
        Unlimited Access
    </li>
    <li>
        Expert Trainers
    </li>
    <li>
        On-The-Go Learning
    </li>
    <li>
        Passionate Team
    </li>
    <p style="text-align:justify; color:black; font-family:'Bookman Old Style'; text-indent:50px">
        A software training institute is an educational organization focused on providing specialized training in various software technologies, programming languages, and IT skills. These institutes are designed to help individuals, including students, recent graduates, and professionals, gain practical, hands-on experience with industry-standard tools and software, enhancing their technical expertise and employability.
    </p>
</ol>
@section S1{
    <font size="3" color="blue"> Excellence in IT Training Since 2013</font>
    }