@model MVCDataTransfer.Models.Products
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index15</title>
</head>
<body>
    <div> 
        <table width="1" border="25%" align="center">
            <caption>Product Details </caption>
            <tr><td>ID: </td><td>@Model.Id</td></tr>
            <tr><td>Name: </td><td>@Model.Name</td></tr>
            <tr>
                <td>Price: </td>
                <td>
                    @{
                        double? price = Model.Price;
                        price = price + price * 0.1;
                        @Model.Price
                    }
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
