
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
    <div>
        <h1 style="text-align:center;color:red;text-decoration:underline">Sunarms Technologies</h1>
        <div style="background-color:cyan">
            <fieldset style="border: 5px solid coral">
                <legend>Contact Us:</legend>
                &nbsp;&nbsp;Phone: 7498 62 3155 <br />
                &nbsp;&nbsp;Whatsapp: 99606 121 63 <br />
                &nbsp;&nbsp;Email: info@sunarms.com <br />
                &nbsp;&nbsp;Website: www.sunarms.com <br />
                &nbsp;&nbsp;Address: 3rd Floor, Durga Bhavani Plaza, Satyam Road, Parwati, Solapur - 413109
            </fieldset>
        </div>
        <h4 style="text-align:center;color:red">Click here to go to <a href="/Home/Index">Home Page.</a></h4>

    </div>
</body>
</html>
