<!DOCTYPE html>
<html>
<head>
    <title>Registration Form</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <h1>Registration Form</h1>
    <img src="~/images/Register.jpg" class="card-img-top" asp-append-version="true" />
</body>
</html>
