
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1 style="background-color:lightblue; font-family:'Bookman Old Style';font-size:33px; align-content:center">
            Mahesh Baradkar
        </h1>

    </div>
</body>
</html>