<div style="color:darksalmon;text-align:center;height:170px;background-color:blueviolet;border-style:groove;
border-color:slateblue;border-width:thick; box-shadow: 0px 0px 50px inset">

    <img id="agilemahesh33" alt="https://github.com/agilemahesh33" src="~/Images/Header.png" width="100%" height="100%" />
    <marquee style="font-size:x-large;color:darkblue;" behavior="alternate">
        SQL Server, MVC Architecture, NET Core, SVN, GIT, Web Services, Web API, Javascript, ASP.NET, C# .Net, Postman, Swagger, Kibana, ADO.NET, Angular, Entity Framework, LINQ
    </marquee>
    <br /><br />
</div>