
@{
    ViewBag.Title = "Error";
}

<h1 style="background-color:lightgoldenrodyellow;color:orangered;text-align:center;text-decoration:underline">
    Server Error Page
</h1>
<h3>An error occurred while processing your request. Re-check your input or contact customer support.</h3>